.u-text--black { color: $global-color-black !important; }
.u-text--grey { color: $global-color-grey !important; }
.u-text--darkgrey { color: $global-color-darkgrey !important; }
.u-text--darkgreen { color: $global-color-darkgreen !important; }
.u-text--lightgreen { color: $global-color-lightgreen !important; }
.u-text--green { color: $global-color-green !important; }
