.c-accordion {
  border-radius: 5px;
  margin: 60px 0;
}

.c-accordion__body,
.c-accordion__header {
  border: 1px solid $global-color-darkgrey;
  border-top: none;
  padding: 15px;
}

.c-accordion__body--with-img {

}

.c-accordion__header {
  background-color: $global-color-grey;
  border-radius: 5px 5px 0 0;
  border: 1px solid $global-color-darkgrey;
  height: 54px;
}

.c-accordion__header__title {
  float: left;
  font-weight: 900;
}

.c-accordion__header__toggle {
  float: right;
  color: $global-color-green;
  font-size: 14px;
  padding-top: 2px;
}

.c-accordion__header__toggle--close::after {
  position: relative;
  top: 1px;
  content: "\2191";
}

.c-accordion__header__toggle--open::after {
  position: relative;
  content: "\2193";
}

.c-accordion__body__img {
  font-size: 100px !important;
  color: $global-color-darkgrey;
  float: left;
  padding: 0 20px 20px 0;
}

.c-accordion__body__text {
  padding: 0;
  margin: 0;
}
